@media(max-width: 1030px) {
    .toolbarPosition{
        border-radius: 10px !important;
        
    }
    
    .toolbarBtn{
        padding: 5px !important;
    }
}

@media(max-width: 640px) {
    .toolbarPosition{
        border-radius: 10px !important;
    }
    
    .toolbarBtn{
        border-radius: 5px !important;
        padding: 5px !important;
    }
}

.toolbarPosition{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}
.toolbarStyle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.toolbarBtn{
    background-color: rgb(242, 242, 242);
    padding: 10px;
    margin: 2px;
    flex: 1;
    text-align: center;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.toolbarBtn:hover{
    background-color: rgb(235, 235, 235);
    transition: 0.2s;
}

.textMainDesc{
    color: #6a6a6a;
    margin-top: 10px;
    text-transform: uppercase;
}
